@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  font-family: "Noto Sans KR", sans-serif;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
}

/* MyButton */
.MyButton {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  white-space: nowrap;
  font-family: "Noto Sans KR", sans-serif;
}

.MyButton_default {
  background-color: transparent;
  color: #000;
}

.MyButton_positive {
  background-color: #64c964;
  color: #fff;
}
.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}

/* HEADER */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text {
  width: 50%;
  font-size: 22px;
  justify-content: center;
  font-weight: bold;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}
header .head_btn_right {
  width: 25%;
  justify-content: end;
}
header button {
  font-family: "Noto Sans KR", sans-serif;
}

/* DiaryList */
.DiaryList {
  padding-bottom: 60px;
}

.DiaryList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
  position: fixed;
  width: 640px;
  bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
  height: 50px;
  bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

/* Loding */
.Loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdce17;
}
.Loading h4 {
}

/* DiaryItems */

.ItemWrapper {
  margin-bottom: 24px;
  padding: 5px 15px 20px;
  border: 1px solid #ececec;
  border-radius: 5px;
  box-shadow: 0 0 7px #dedede;
}
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  height: 36px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .Info_wrapper {
  flex-grow: 1;
  margin-left: 16px;
  cursor: pointer;
}

.DiaryItem .diary_date {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

.diary_time {
  font-size: 13px;
  color: #999;
}

.diary_content_preview {
  font-size: 16px;
  padding: 16px 8px;
}

.DiaryItem .btn_wrapper {
  position: relative;
  min-width: 70px;
}

.DiaryItem .correction_delete {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
}

.DiaryItem .correction_delete li {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.DiaryItem .correction_delete li:first-child {
  border-bottom: 1px solid #eee;
}

.DiaryItem .correction_delete li:last-child {
  color: red;
}

/* DiaryEditor */
.DiaryEditor {
}

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor section .input_date {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

.DiaryEditor textarea {
  padding: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  border: none;
  background-color: #ececec;
}

.todayDiary {
  display: flex;
  justify-content: space-between;
}
.todayDiary button {
  margin: 20px 0;
}

.todayDiary input {
  display: none;
}

.thumbNail {
  width: 100%;
}

/* EmotionItem */
.EmotionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ececec;
}

.emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}
.EmotionItem span {
  font-size: 18px;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: #fff;
}

.EmotionItem_on_2 {
  background-color: #9dd772;
  color: #fff;
}

.EmotionItem_on_3 {
  background-color: #fdce17;
  color: #fff;
}

.EmotionItem_on_4 {
  background-color: #fd8446;
  color: #fff;
}

.EmotionItem_on_5 {
  background-color: #fd565f;
  color: #fff;
}

.DiaryEditor_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Diary */
.DiaryPage {
}

.DiaryPage section {
  width: 100%;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.DiaryPage h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryPage .diary_img_wrapper {
  width: 250px;
  height: 250px;
  background-color: #ececec;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.DiaryPage .diary_img_wrapper .emotion_descript {
  font-size: 25px;
}

.DiaryPage .diary_img_1 {
  background-color: #64c964;
  color: #fff;
}

.DiaryPage .diary_img_2 {
  background-color: #9dd772;
  color: #fff;
}

.DiaryPage .diary_img_3 {
  background-color: #fdce17;
  color: #fff;
}

.DiaryPage .diary_img_4 {
  background-color: #fd8446;
  color: #fff;
}

.DiaryPage .diary_img_5 {
  background-color: #fd565f;
  color: #fff;
}

.DiaryPage .diary_content_wrapper {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  /* 줄바꿈 명령어 */
  word-break: keep-all;
  overflow-wrap: break-word;
}

.DiaryPage .diary_content_wrapper p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
