@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  font-family: "Noto Sans KR", sans-serif;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
}

/* MyButton */
.MyButton {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  white-space: nowrap;
}

.MyButton_default {
  color: #666;
  font-weight: bold;
}

.MyButton_positive {
  background-color: #1f64ff;
  color: #fff;
}
.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}

/* HEADER */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text {
  width: 70%;
  font-size: 22px;
  justify-content: center;
  font-weight: bold;
}

header .head_btn_left {
  width: 15%;
  justify-content: start;
}
header .head_btn_right {
  width: 15%;
  justify-content: end;
}

/* DiaryList */
.DiaryList {
  padding-bottom: 60px;
}

.DiaryList .menu_wrapper {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .menu_diary-length {
  font-size: 14px;
  font-weight: bold;
  color: #252525;
}

.DiaryList .menu_wrapper .menu_diary-length span {
  font-size: 18px;
  color: #1f64ff;
}

.DiaryList .menu_wrapper .left_col {
  margin-top: 10px;
}

.DiaryList .menu_wrapper .bottom_col {
  position: fixed;
  bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}

.DiaryList .menu_wrapper .bottom_col button {
  width: 100%;
  height: 50px;
  bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
}

@media (min-width: 700px) {
  .DiaryList .menu_wrapper .bottom_col {
    width: 640px;
  }
}

@media (max-width: 700px) {
  .DiaryList .menu_wrapper .bottom_col {
    left: 20px;
    right: 20px;
  }
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

/* Loding */
.Loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loading h4 {
  font-size: 32px;
  font-weight: bold;
  color: #1f64ff;
}

/* DiaryItems */

.ItemWrapper {
  margin-bottom: 24px;
  padding: 5px 15px 20px;
  border: 1px solid #ececec;
  border-radius: 8px;
  box-shadow: 0 0 7px #dedede;
}

.ItemWrapper .diary_content {
  cursor: pointer;
}

.DiaryItem {
  padding: 15px 10px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
}

.DiaryItem .Info_wrapper {
  flex-grow: 1;
  margin-left: 16px;
  cursor: pointer;
}

.DiaryItem .diary_date {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

.DiaryItem .diary_date span {
  color: #012c91;
}

.diary_time {
  font-size: 13px;
  color: #999;
}

.diary_content_preview {
  font-size: 16px;
  padding: 16px 8px;
}

.DiaryItem .btn_wrapper {
  position: relative;
  min-width: 70px;
  text-align: right;
}

.DiaryItem .btn_wrapper button {
  padding: 5px 10px;
  background: transparent;
  font-size: 20px;
}

.DiaryItem .correction_delete {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
}

.DiaryItem .correction_delete li {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.DiaryItem .correction_delete li:first-child {
  border-bottom: 1px solid #eee;
}

.DiaryItem .correction_delete li:last-child {
  color: red;
}

/* DiaryEditor */
.DiaryEditor {
}

.DiaryEditor section {
  margin-bottom: 28px;
}

.flex_diaryeditor {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.flex_diaryeditor .input_box {
  margin-top: 15px;
}

.DiaryEditor h4 {
  font-size: 20px;
  font-weight: bold;
}

.DiaryEditor section .input_date {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 16px;
  cursor: pointer;
}

.DiaryEditor textarea {
  padding: 20px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  border: none;
  background-color: #ececec;
}

.todayDiary {
  display: flex;
  justify-content: space-between;
}
.todayDiary button {
  margin: 20px 0;
  background-color: rgba(31, 98, 255, 0.15);
  color: #1f64ff;
  font-weight: bold;
  font-size: 16px;
}

.todayDiary input {
  display: none;
}

.thumbNail {
  width: 100%;
  margin-bottom: 16px;
}

/* EmotionItem */
.EmotionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
  border-radius: 10px;
}

.EmotionItem img {
  width: 40%;
  margin-bottom: 10px;
}
.EmotionItem span {
  font-size: 14px;
  color: #777;
}

.EmotionItem_on_1 img,
.EmotionItem_on_2 img,
.EmotionItem_on_3 img,
.EmotionItem_on_4 img,
.EmotionItem_on_5 img {
  width: 80%;
  animation: emotion-img 1s infinite;
}

.EmotionItem_on_1 span,
.EmotionItem_on_2 span,
.EmotionItem_on_3 span,
.EmotionItem_on_4 span,
.EmotionItem_on_5 span {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

@keyframes emotion-img {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.DiaryEditor_btn button {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  letter-spacing: 4px;
}

/* Diary */
.DiaryPage .head_btn_right button {
  background-color: rgba(31, 98, 255, 0.1);
  color: #1f64ff;
}

.DiaryPage section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DiaryPage .DiaryPage-flex {
  padding: 0 10px;
  flex-direction: row;
  justify-content: space-between;
}

.DiaryPage-emotion {
  margin-left: 10px;
  color: #1f64ff;
}

.DiaryPage h4 {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: bold;
}

.DiaryPage .diary_time {
  margin: 5px 0 20px;
  margin-left: 25px;
  font-weight: initial;
  font-size: 14px;
}

.DiaryPage .diary_img_wrapper img {
  margin-right: 20px;
  width: 50px;
}

.DiaryPage .diary_img_wrapper .diary_time {
}

.DiaryPage .diary_img_wrapper .emotion_descript {
  font-size: 25px;
}

.DiaryPage .diary_content_wrapper {
  margin-bottom: 20px;
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  /* 줄바꿈 명령어 */
  word-break: keep-all;
  overflow-wrap: break-word;
}

.DiaryPage .diary_content_wrapper p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.Diary-correction {
  display: flex;
  justify-content: flex-end;
}
.Diary-correction button {
  margin-bottom: 20px;
  background-color: rgba(31, 98, 255, 0.2);
  color: #1f64ff;
}
